// eslint-disable no-console
<template>
  <div>
    <button @click="handleSignIn">
      Sign in
    </button>
    <button @click="handleLogin">
      Login
    </button>
  </div>
</template>

<script>
export default {
  data () {
    return {
    }
  },
  methods: {
    async handleSignIn () {
      try {
        // this.$gAuth.signIn = () => {}
        // console.log(this.$gAuth)
        // const cc = await this.$gAuth.signIn()
        const code = await this.$gAuth.getAuthCode()
        const response = await this.$axios.get('http://localhost:3000/' + 'auth/login', { code })
        console.log(response)
      } catch (e) {
        console.log(e)
      }
    },
    async handleLogin () {
      try {
        const response = await this.$axios.get('http://localhost:3000/' + 'login', { withCredentials: true, credentials: 'same-origin' })
        console.log(response)
        console.log(document.cookie, 'cookies')
      } catch (e) {
        console.log(e)
      }
    }
  }
}
</script>
